<!DOCTYPE html>
<html>

<head>
  <title>Buba Mohammed Auwal's Resume</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

  <link href="bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="style.css" rel="stylesheet" media="screen">
  <link href="default.css" rel="stylesheet" media="screen">
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="index.html">Buba</a>

      </div>
      <div class="navigation collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="current"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="#portfolio">Works</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="intro">
    <div class="intro-text">
      <div class="container">
        <div class="col-md-12">
          <div id="rotator">
            <h1><span class="1strotate">Top Notch Web Applications, Creativity and Technology</span></h1>
            <div class="line-spacer"></div>
            <p><span class="2ndrotate">Web Design, Brand Identity</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="about" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>About Buba</h2>
            <div class="heading-line"></div>
            <p>Buba has been building unique digital products, platforms, and experiences for the past 2 years.</p>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-md-6 about-img">
          <img src="me2.jpg" alt="">
        </div>

        <div class="col-md-6 content">
          <h2>Buba Mohammed Auwal</h2>
          <h3>A Software Developer with emphasis on web development.</h3>
          <p>An avid software engineer with a flaming passion for building software. Intensively trained in
            building web applications with the MERN (MongoDB, Express, React, Nodejs) stack. <br><br>
            Passionate about open-source development and contribution
          </p>
          <p>Check out my <a href="Buba.pdf" target="_blank" rel="noopener noreferrer">resume</a> for more info.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="parallax1" class="home-section parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">Details are the key for perfection</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">We mix all detailed things together</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section id="services" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Services</h2>
            <div class="heading-line"></div>
            <p>The Services Buba provides...</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-service" class="service carousel slide">

            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>Website Design</h4>
                      <p>I bring ideas to life on a webpage. Not only boosting business presence on the internet 
                        but also facilitating business growth.</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="screenshots/1.png" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-12 col-md-offset-1 col-md-6">
                    <div class="wow bounceInLeft">
                      <h4>Web Apps</h4>
                      <p>I bring ideas to life on a webpage. Not only boosting business presence on the internet 
                        but also facilitating business growth.</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="screenshot wow bounceInRight">
                      <img src="screenshots/3.png" class="img-responsive" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-service" data-slide-to="1"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- Parallax 2 -->
  <!-- <section id="parallax2" class="home-section parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="clients">
            <li class="wow fadeInDown" data-wow-delay="0.3s"><a href="#"><img src="clients/1.png" alt="" /></a></li>
            <li class="wow fadeInDown" data-wow-delay="0.6s"><a href="#"><img src="clients/2.png" alt="" /></a></li>
            <li class="wow fadeInDown" data-wow-delay="0.9s"><a href="#"><img src="clients/3.png" alt="" /></a></li>
            <li class="wow fadeInDown" data-wow-delay="1.1s"><a href="#"><img src="clients/4.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Contact -->
  <section id="contact" class="home-section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Contact us</h2>
            <div class="heading-line"></div>
            <h3>Want to work on a project together or just talk tech over a cup of coffee?, 
              Reach out to Buba</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>

          <div class="alert alert-success" id="successAlert">Thanks for reaching out, I'll get back ASAP</div>
                        <form action="send" method="post" class="form-horizontal" id="contact-form" enctype="multipart/form-data">
                           <div class="form-group">
                            <label for="fullname" class="col-md-2 control-label">Full Name</label> 
                                <input type="text" class="form-control col-md-10" name="fullname" id="fullname" required>
                           </div>
                            
                           <div class="form-group">
                            <label for="email" class="col-md-2 control-label">Email</label> 
                                <input type="email" class="form-control col-md-10" name="email" id="email" required>
                           </div>
                            
                           <div class="form-group">
                            <label for="subject" class="col-md-2 control-label">Subject</label>  
                                <input type="text" class="form-control col-md-10" name="subject" id="subject" required>
                           </div>

                           <div class="form-group">
                            <label for="message" class="col-md-2 control-label">Message</label>   
                                <input type="text" class="form-control col-md-10" name="message" id="message" required>
                           </div>
                            <button type="submit" class="btn btn-primary" id="sendBTN">Send Me a Mail</button>
                        </form>

        </div>
      </div>

    </div>
  </section>

  <!-- Bottom widget -->
  <section id="bottom-widget" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-widget wow bounceInUp">
            <i class="fa fa-phone fa-4x"></i>
            <h5>Call</h5>
            <p>
               <a href="tel:+2349091506484">+234 909 150 6484</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-widget wow bounceInRight">
            <i class="fa fa-envelope fa-4x"></i>
            <h5>Email us</h5>
            <p>
              <a href="mailto:juniorbuba4real@gmail.com">juniorbuba4real@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top30">
        <div class="col-md-12">
          <h5>Let's Connect!</h5>
          <ul class="social-network">
            <li><a href="#">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span></a>
            </li>
            <li><a href="https://github.com/juniorbuba">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span></a>
            </li>
            <li><a href="https://twitter.com/web_walkerX">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span></a>
            </li>
            <li><a href="https://stackoverflow.com/users/7811356/web-walkerx">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
						</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="credits">
            Designed by Buba Mohammed Auwal
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- js -->
  <script src="jquery.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="wow.min.js"></script>
  <script src="mb.bgndGallery.js"></script>
  <script src="mb.bgndGallery.effects.js"></script>
  <script src="jquery.simple-text-rotator.min.js"></script>
  <script src="jquery.scrollTo.min.js"></script>
  <script src="jquery.nav.js"></script>
  <script src="modernizr.custom.js"></script>
  <script src="grid.js"></script>
  <script src="stellar.js"></script>
  <script src="mail.js"></script>
  <script src="sendmail.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="custom.js"></script>

</body>
</html>
