<!DOCTYPE html>
<html>
    <head>
        <title>Buba Mohammed Auwal's Resume</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <main class="container">
            <section class="row">
                <section id="profile" class="col-md-3">
                    <div id="profile-blue-header"></div>
                    <h2>PROFILE</h2>
                    <p>An avid software engineer with a flaming passion for building software. Intensively trained in
                        building web applications with the MERN (MongoDB, Express, React, Nodejs) stack. <br>
                        Passionate about open-source development and contribution
                    </p>
                    <h2>CONTACT</h2>
                    <h4>PHONE:</h3> <a href="tel:+2349091506484"> 09091506484</a>
                    <h4>EMAIL:</h3> <a href="mailto:"> juniorbuba4real@gmail.com</a>
                    <h3>BIO-DATA</h3>
                    <h4>STATE OF ORIGIN: </h4> BORNO STATE
                    <h4>GITHUB: </h4> <a href="https://github.com/juniorbuba">github.com/juniorbuba</a>
                    <h4>STACK OVERFLOW: </h4> <a href="https://stackoverflow.com/users/7811356/web-walkerx">stackoverflow.com/webwalkerx</a>
                    <div id="profile-blue-footer"></div>
                </section>
                <section class="col-md-7">
                    <h1>BUBA MOHAMMED AUWAL</h1>
                    <p>Software Developer</p>
                    <section>
                            <h3>EDUCATION</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">King of Kings International Primary School, Ojo Lagos 
                                <br>First School Leaving Certificate</div>
                            <div class="col-md-4">2003 - 2009</div>

                            <div class="col-md-8">Ideal Comprehensive High School, Afromedia Lagos
                                <br> Senior Secondary School Certificate</div>
                            <div class="col-md-4">2009 - 2015</div>

                            <div class="col-md-8">Hands-on Intensive Institute of Technology(HiiT), Ikeja
                            <br> Diploma in Web Design </div>
                            <div class="col-md-4">2018</div>

                            <div class="col-md-8">Ahmadu Bello University, Zaria
                                <br> B.Sc. Computer Science  </div>
                            <div class="col-md-4">2015 - 2019</div>
                        </div>
                    </section>
                    <section>
                        <h3>PROJECTS</h3>
                            <hr>
                            <div class="row">
                                <h4>9jaModel</h4>
                                <div class="col-md-12">9ja model is a simple website that creates an online presence for the
                                    business. The site states the business achievements, goals and also
                                    shows off their beautiful models that the business exists for. The
                                    website is currently live can be found <a href="https://naijamodel.netlify.app/">here.</a>
                                </div>
                                <h4>Notes Application</h4>
                                <div class="col-md-12">A simple lightweight NodeJS application that allows the user add and
                                    delete notes right from the command-line interface. Other features
                                    include reading and listing all notes created by the user.
                                    This project is open source and the code is on <a href="https://github.com/juniorbuba/notes-app">github</a> . 
                                </div>
                                <h4>Exercise Tracker</h4>
                                <div class="col-md-12">Built entirely in JavaScript (React and NodeJS), this is an application
                                    that allows the user create, read, update, delete and track each exercise.
                                    The source <a href="https://github.com/juniorbuba/exercise-tracker"> code </a>can be found on github.
                                </div>
                            </div>
                    </section>
                    <section>
                        <h3>EXPERIENCE</h3>
                            <hr>
                            <div class="row">
                                <h4>Programmer II</h4>
                                <div class="col-md-12">I worked diligently as a programmer in Ahmadu Bello University developers, ABUdevs. I
                                    contributed tirelessly to the day-to-day activities in the club which bolstered the presence of
                                    Information Technology on the campus. I also assisted the Chief Programmer in keeping the
                                    club website up and running without hitches.
                                </div>
                                <h4>Software Developer (HiiT plc)</h4>
                                <div class="col-md-12">I oversaw and actively passed on the knowledge of software development I have garnered so
                                    far to enthusiastic learners who were new in the industry. I made sure these learners were well
                                    aware of industry standards and up to date on new technologies driving the web. I also actively
                                    worked in consultancy and delivered promptly on all software development processes taking place day-in, day-out.
                                </div>
                            </div>
                    </section>
                    <section>
                        <h3>SKILLS</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">HTML5, CSS3, Bootstrap</div>
                                <div class="col-md-6">Vanilla JavaScript, Jquery</div>
                                <div class="col-md-6">API Development with MERN Stack</div>
                            </div>
                    </section>
                    <section>
                        <h3>If you want to grow your skills as a developer, check out
                             <a href="https://training.zuri.team">Zuri</a></h3>
                             <a href="https://training.zuri.team"><img src="zuri.png" alt=""></a>
                    </section>
                    <section>
                        <a href="/contact.html"><h1>Let's Connect!</h1></a>
                    </section>
                </section>      
            </section>
        </main>
    </body>
</html>